* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

h1 {
    text-align: center;
    margin: 8px;
}

.work, .rest, .number-of-intervals, .start-btn {
    margin: 24px;
}

.start-btn, .submit-btn {
    display: flex;
    justify-content: center;
}

.start, .submit {
    width: 100%;
    padding: 12px 24px;
    background-color: #0f0f0f;
    color: whitesmoke;
}

.hide {
    display: none;
}

.run-timer {
    width: 50%;
}

.timer-display {
    display: block;
    font-size: 4rem;
    justify-self: center;
}

.work-rest-display, .interval-number {
    text-align: center;
}